<div class="flex min-h-screen bg-gray-900 relative">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 overflow-hidden">
        <img src="assets/backgroundIMG/home_background.jpg" alt="Imagen de fondo" class="w-full h-full object-cover" />
    </div>

    <!-- Contenedor del acordeón -->
    <div class="w-full md:w-1/2 flex justify-center items-center relative z-10 p-4">
        <div class="w-full max-w-lg p-8 bg-white bg-opacity-90 shadow-lg rounded-lg">
            <h2 class="text-2xl font-bold mb-4 text-gray-800">Detección de seismos</h2>
            <p-accordion [activeIndex]="0" class="w-full">
                <p-accordionTab header="Evalúa tu archivo">
                    <p>
                        En el primer reto hemos diseñado una inteligencia artificial que pasando un archivo csv al
                        programa es capaz de decirte mediante el sonido el mHz si es un seismo o si es un simple ruido.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Seismos en la tierra">
                    <p>
                        En el segundo desafio pensamos qen crear un mapa del mundo con los distintos seismos que han
                        ocurrido en el planeta tierra y supere un umbral de magnitud 7.Y aparte que el usuario pueda
                        filtrar por año. </p>
                </p-accordionTab>
                <p-accordionTab header="Detección de seismos">
                    <p>
                        Se ha trabajado en un detector de posibles seismos aqui tenemos otra
                        inteligencia artificial entrenada para que habiendole pasado datos sobre el tiempo relativo
                        calcule cada cuanto tiempo puede ocurrir un seismo.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Predicción de seismos">
                    <p>
                        Al final hemos creado un programa que dado un archivo csv es capaz de decir cuando ocurrira un
                        seismo en cualquier planeta.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>