<div class="flex flex-col items-center justify-start min-h-screen space-y-4 p-4 bg-gray-100">
    <div class="max-w-md w-full text-center">
        <h1 class="text-2xl font-bold text-gray-700 mb-4">
            Inserta tu archivo CSV aquí
        </h1>

        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
            [multiple]="true" accept=".csv" [maxFileSize]="100000000">
            
            <ng-template pTemplate="content">
                <div class="flex items-center justify-center mb-2" *ngIf="loading">
                    <p-progressSpinner styleClass="w-2rem h-2rem" strokeWidth="6" fill="var(--surface-ground)"
                        animationDuration=".5s" />
                </div>
                <!-- Muestra el nombre del archivo en negrita -->
                <div *ngIf="uploadedFiles.length" class="text-left">
                    <span *ngFor="let file of uploadedFiles" class="font-bold">
                        {{ file.name }} - {{ formatSize(file.size) }}<br />
                    </span>
                </div>
            </ng-template>
        </p-fileUpload>

        <!-- Tarjeta con mensaje de sismo detectado -->
        <div *ngIf="sismoDate" class="mt-4 bg-white rounded-lg shadow-md overflow-hidden">
            <img src="assets/backgroundIMG/terremoto.jpg" alt="Terremoto" class="w-full h-32 object-cover" />
            <div class="p-4">
                <p class="">
                    Según los datos analizados, se ha detectado un sismo el día {{ sismoDate | date:'dd/MM/yyyy' }}.
                </p>
            </div>
        </div>
    </div>
</div>
