<div class="flex flex-col items-center justify-start min-h-screen space-y-4 pt-4 bg-gray-100">
    <div class="max-w-md w-full text-center">
        <h1 class="text-2xl font-bold text-gray-700 mb-4">
            Inserta tu archivo CSV aquí
        </h1>
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
            [multiple]="true" accept=".csv" [maxFileSize]="100000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ formatSize(file.size) }}
                    </li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>

    <!-- Sección para mostrar imágenes generadas -->
    <div *ngIf="imagePaths.length > 0" class="mt-6 w-full max-w-3xl">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Imágenes Generadas</h2>
        <div class="flex flex-col space-y-4">
            <div *ngFor="let imagePath of imagePaths" class="bg-white rounded-lg shadow-md overflow-hidden w-full p-4"> <!-- Agregado p-4 -->
                <img [src]="imagePath" alt="Seismic Image" class="w-full h-auto object-cover" />
            </div>
        </div>
    </div>
</div>
