<div class="flex flex-col items-center justify-start min-h-screen space-y-4 pt-4">
    <div class="max-w-md w-1/2 text-center"> <!-- Añadido text-center para centrar el título -->
        <!-- Título con diseño -->
        <h1 class="text-2xl font-bold text-gray-700 mb-4">
            Inserta tu archivo CSV aquí
        </h1>
        <!-- Componente de carga de archivos -->
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
            [multiple]="true" accept=".csv" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ formatSize(file.size) }}
                    </li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</div>
<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto text-center">
        <p class="mb-4">© 2024 Seismic Detection. Todos los derechos reservados.</p>
        <div class="border-t border-gray-600 my-4"></div> <!-- Separador -->
        <div class="flex justify-center space-x-4 mb-4">
            <p-button label="Inicio" styleClass="p-button-link hover:underline" routerLink="/"></p-button>
            <p-button label="Acerca de" styleClass="p-button-link hover:underline" routerLink="/about"></p-button>
            <p-button label="Servicios" styleClass="p-button-link hover:underline" routerLink="/services"></p-button>
            <p-button label="Contacto" styleClass="p-button-link hover:underline" routerLink="/contact"></p-button>
        </div>
        <div class="flex justify-center space-x-6 mt-4">
            <a href="#" class="text-gray-400 hover:text-white transition duration-200">
                <i class="fab fa-facebook-f"></i> <!-- Icono de Facebook -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white transition duration-200">
                <i class="fab fa-twitter"></i> <!-- Icono de Twitter -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white transition duration-200">
                <i class="fab fa-linkedin-in"></i> <!-- Icono de LinkedIn -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white transition duration-200">
                <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
            </a>
        </div>
    </div>
</footer>